<%= form_with(model: habit, local: true) do |form| %>
  <% if habit.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(habit.errors.count, "error") %> prohibited this habit from being saved:</h2>

      <ul>
      <% habit.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <!-- <%= form.label :habit %> -->
    <%= form.text_field :habit, id: :habit_habit %>
  </div>

  <!-- <div class="field">
    <%= form.label :good_days %>
    <%= form.number_field :good_days, id: :habit_good_days %>
  </div>

  <div class="field">
    <%= form.label :bad_days %>
    <%= form.number_field :bad_days, id: :habit_bad_days %>
  </div> -->

  <div class="actions">
    <%= form.submit "Add" %>
  </div>
<% end %>
